/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  top:50%;
  left:50%;
}

.loader:after,
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #FF3D00;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader:before {
  transform-origin: 0 50%;
  background: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

.form {
  margin-left: 28px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  outline: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-right: 8px;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

.form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
  margin-bottom: 32px ;
}

.form button:hover {
  background: #6c8cff;
}
.gallery{
  list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
      gap: 24px;
}
.gallery-item{
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;
    outline:1px solid #808080;

}
.gallery-image{
    display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
}
.image-descr{
  display: flex;
  justify-content: space-around;
}
.item{
  display: flex;
  flex-direction: column;
}
.descr{
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.value{
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

